body{
    flex-direction: column;
    background-color: #455a64;
}

#center-div {
    margin: auto;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: #c62828;
    font-size: 100px;
    margin: 5px;
}

#popcorn {
    height: 200px;
    width: auto;
}

@keyframes flickerAnimation {
    0%   { opacity:0; }
    7%   { opacity:1; }
    9%  { opacity:0; }
    19%  { opacity:1; }
    25%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:0; }
    7%   { opacity:1; }
    9%  { opacity:0; }
    19%  { opacity:1; }
    25%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:0; }
    7%   { opacity:1; }
    9%  { opacity:0; }
    19%  { opacity:1; }
    25%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    7%   { opacity:1; }
    9%  { opacity:0; }
    19%  { opacity:1; }
    25%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
    -webkit-animation: flickerAnimation 4s ;
    -moz-animation: flickerAnimation 2s ;
    -o-animation: flickerAnimation 2s ;
     animation: flickerAnimation 2s ;
 }